:root {
	--max-width: 1440px;
	--bg-prymary: linear-gradient(
		0.87deg,
		#000000 19.5%,
		rgba(102, 102, 102, 0) 99.2%
	);
	--filter-banner: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	--color-bg-primary: #262626;
	--color-bg-secondary: #454545;
	--color-text: #f6f6f6;

	--color-white: #f6f6f6;
	--color-black: #000;
	--color-black-2: #1c1c1c;
	--color-fav-hover: #ffdcdc;
	--color-fav-active: #e54545;
	--color-check-hover: #f1cb51;
	--color-check-active: #f0b90b;
	--color-share-hover: #d6ffd7;

	--rating-size: 25px;
	--bar-size: 2px;
	--background-color: #1c1c1c;
	--rating-color-default: #2980b9;
	--rating-color-background: #c7e1f3;
	--rating-color-good: #27ae60;
	--rating-color-meh: #f1c40f;
	--rating-color-bad: #e74c3c;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-bg-primary: #f6f6f6;
		--color-text: #262626;
	}
} */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	color: var(--color-text);
	background-color: var(--color-bg-secondary);
	scroll-behavior: smooth;
}

body {
	max-width: 1440px;
	flex: 1;
	margin: auto;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.banner {
	width: 100%;
	height: 436px;
	filter: var(--filter-banner);
}

.flex {
	display: flex;
}

.sidebar {
	min-width: 260px;
	height: auto;
	background: var(--color-bg-primary);
	padding: 16px 0;
}

@media (width <= 768px) {
	.sidebar {
		visibility: hidden;
		display: none;
	}
}

main {
	flex: 1;
}

/* icons global */
.icon {
	content: ' ';
	background: var(--color-white);
	height: 25px;
	width: 25px;
	position: relative;
	z-index: 1;
	display: flex;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	cursor: pointer;
}

/* action defaul hover icon */
.icon:hover {
	background: var(--color-check-hover);
}

/* icon to web */
.icon-login {
	-webkit-mask-image: url('../../public/images/SignIn.svg');
	mask-image: url('../../public/images/SignIn.svg');
}
.icon-singup {
	-webkit-mask-image: url('../../public/images/singUp.svg');
	mask-image: url('../../public/images/singUp.svg');
}
.icon-sun {
	-webkit-mask-image: url('../../public/images/Sun.svg');
	mask-image: url('../../public/images/Sun.svg');
}
.icon-favorite {
	-webkit-mask-image: url('../../public/images/Fav.svg');
	mask-image: url('../../public/images/Fav.svg');
}
.icon-checkbook {
	-webkit-mask-image: url('../../public/images/book-check.svg');
	mask-image: url('../../public/images/book-check.svg');
}
.icon-share {
	-webkit-mask-image: url('../../public/images/share.svg');
	mask-image: url('../../public/images/share.svg');
}
.icon-bell {
	-webkit-mask-image: url('../../public/images/Bell.svg');
	mask-image: url('../../public/images/Bell.svg');
}
.icon-heart {
	-webkit-mask-image: url('../../public/images/Heart.svg');
	mask-image: url('../../public/images/Heart.svg');
}
.icon-user {
	-webkit-mask-image: url('../../public/images/UserCircle.svg');
	mask-image: url('../../public/images/UserCircle.svg');
}
.icon-moon {
	-webkit-mask-image: url('../../public/images/moon.svg');
	mask-image: url('../../public/images/moon.svg');
}
.icon-search {
	-webkit-mask-image: url('../../public/images/search.svg');
	mask-image: url('../../public/images/search.svg');
}
.icon-downArrow {
	-webkit-mask-image: url('../../public/images/arrowDown.svg');
	mask-image: url('../../public/images/arrowDown.svg');
}
.icon-leftArrow {
	-webkit-mask-image: url('../../public/images/arrowLeft.svg');
	mask-image: url('../../public/images/arrowLeft.svg');
}
.icon-rightArrow {
	-webkit-mask-image: url('../../public/images/arrowRight.svg');
	mask-image: url('../../public/images/arrowRight.svg');
}

/* scrollbar-styles */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	background: var(--color-black-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-text);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-black);
}
